asgiref==3.4.1 #https://pypi.org/project/asgiref/
Django==3.2.6 #https://pypi.org/project/Django/
pytz==2021.1 #https://pypi.org/project/pytz/
sqlparse==0.4.1 #https://pypi.org/project/sqlparse/
django-environ==0.4.5 #https://pypi.org/project/django-environ/
Pillow==8.3.1 #https://pypi.org/project/Pillow/